<app-cabecera *ngIf="this.nota?.id" [menu]="false" [btnlogout]="false" [atras]="true"></app-cabecera>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" class="oscuro" *ngIf="!this.nota?.id" lines="none">
      <ion-icon class="editado" src="assets/img/anadir.svg"></ion-icon>
      <ion-title>
        {{ "formularioNota.cabecera" | translate }}
      </ion-title>
    </ion-item>

    <ion-item slot="start" class="oscuro" *ngIf="this.nota?.id" lines="none">
      <ion-icon class="editado" src="assets/img/editar.svg"></ion-icon>
      <ion-title>
        {{ "editarNota.cabecera" | translate }}
      </ion-title>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">

    <ion-item>
      <ion-input type="text" formControlName="title"
        [placeholder]="' (*) '+this.translate.instant('formularioNota.titulo')" autocapitalize="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="description" [placeholder]="this.translate.instant('formularioNota.descripcion')"
        autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>

    <ion-item>

      <ion-label>
        <ion-input [disabled]='true' type="text" formControlName="latitud"
          [placeholder]="this.translate.instant('formularioNota.latitud')">
        </ion-input>
        <br>
        <ion-input [disabled]='true' type="text" formControlName="longitud"
          [placeholder]="this.translate.instant('formularioNota.longitud')">
        </ion-input>
      </ion-label>



      <ion-label slot="end">
        <ion-button slot="end" [disabled]="!bActivo" (click)="obtenerPosicion()" shape="round" color="secondary"
          fill="outline">
          <ion-icon slot="start" src="assets/img/ubicacion.svg"></ion-icon>
          {{ "formularioNota.btnPosision" | translate }}
        </ion-button>
        <br>

        <ion-button slot="end" [disabled]="!bActivo" *ngIf="this.coor || (this.nota?.longitud && this.nota?.latitud)"
          (click)="abrirMapa()" shape="round" color="secondary" fill="outline">
          <ion-icon slot="start" src="assets/img/mapaubicacion.svg"></ion-icon>
          {{"formularioNota.btnMapa" | translate }}
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-label> {{ "listado.fechaLimite" | translate }}</ion-label> -->
      <ion-datetime [cancelText]="this.translate.instant('AcCan.Cancelar')"
        [doneText]="this.translate.instant('AcCan.Aceptar')" displayFormat="DD/MM/YYYY" max="2200"
        [min]="this.fechaMinima" [placeholder]="' (*) '+this.translate.instant('formularioNota.fechaLimite')"
        formControlName="fechaLimite">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-datetime [cancelText]="this.translate.instant('AcCan.Cancelar')"
        [doneText]="this.translate.instant('AcCan.Aceptar')" displayFormat="HH:mm"
        [placeholder]="' (*) '+this.translate.instant('formularioNota.hora')" formControlName="hora">
      </ion-datetime>
    </ion-item>

    
    <ion-item>
      <ion-label >{{ "formularioNota.prioridad" | translate }}</ion-label>
      <ion-select 
        formControlName="prioridad" 
        [placeholder]="this.translate.instant('formularioNota.prioridad')"
        [okText]="this.translate.instant('AcCan.Aceptar')"
        [cancelText]="this.translate.instant('AcCan.Cancelar')" >
        <ion-select-option value="5"> {{ "formularioNota.sinPrioridad" | translate }}</ion-select-option>
        <ion-select-option value="4"> {{ "formularioNota.minima" | translate }}</ion-select-option>
        <ion-select-option value="3"> {{ "formularioNota.normal" | translate }}</ion-select-option>
        <ion-select-option value="2"> {{ "formularioNota.importante" | translate }}</ion-select-option>
        <ion-select-option value="1"> {{ "formularioNota.urgente" | translate }}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-button slot="end" (click)="tomarFoto()" shape="round" color="secondary" fill="outline">
        <ion-icon slot="start" src="assets/img/foto.svg"></ion-icon>
        {{ "formularioNota.btnFoto" | translate }}
      </ion-button>
      <ion-item size="small" lines="full">
        <ion-img *ngIf="this.imagen" [src]="this.imagen"></ion-img>
        <ion-img *ngIf="this.nota?.datosImagen  && !this.imagen" [src]="nota?.datosImagen?.res.secure_url"></ion-img>
      </ion-item>
    </ion-item>

    <div style="text-align: right;" class="fondoBoton">
      <ion-button shape="round" class="botonEditado" fill="outline" type="submit" [disabled]="!tasks.valid">

        <span *ngIf="!this.nota?.id">
          <ion-label> {{ "formularioNota.btnAgnadir" | translate }}</ion-label>
        </span>

        <span *ngIf="this.nota?.id">
          <ion-label>{{ "editarNota.btnEditar" | translate }}</ion-label>
        </span>

      </ion-button>
    </div>

  </form>

</ion-content>