ion-select {
    --padding-bottom: 1px;
    --padding-end: 1px;
    --padding-start: 1px;
    --padding-top: 1px;
    // --placeholder-color: #3880ff;
    // --placeholder-color-opacity: 1;
}

ion-header {
    margin-top: 4em;
}
