/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";



:root{

     // background: #140405  !important;
 



    .dark-theme{

        --ion-color-primary: #140405 !important;
        --ion-color-primary-rgb: rgb(235,35,88)!important;
        --ion-color-primary-contrast: #ffffff !important;
        --ion-color-primary-contrast-rgb:  rgb(255,255,255)!important;
        --ion-color-primary-shade: #cf424d !important;
        --ion-color-primary-tint: #ed5d69 !important;

   
        --ion-color-secondary: #83b6cf !important;
        --ion-color-secondary-rgb: 61, 194, 255 !important;
        --ion-color-secondary-contrast: #ffffff !important;
        --ion-color-secondary-contrast-rgb: 255, 255, 255 !important;
        --ion-color-secondary-shade: #36abe0 !important;
        --ion-color-secondary-tint: #50c8ff !important;


        //.loading-wrapper{
            // background: transparent !important;
            // -webkit-box-shadow: none !important;
            // box-shadow: none !important;
            //  color:white !important;
        //}

    
        .spinerOp{
            --background: rgb(46, 45, 45);
            --spinner-color: #fff;
             color: #fff;
          }

     .claro{
        color: #ffffff !important;
     }

     
     .claro2{
        color: #ffffff !important;
        background-color: black;
     }


     .oscuroI{
        color: #ffffff;
    
    }

 


      // datepicker picker-toolbar-cancel
    div.picker-toolbar-cancel.picker-toolbar-button.sc-ion-picker-md{
        button{
            border: solid 1px black;
            color: rgb(255, 255, 255);
            background-color: rgb(105, 37, 37);
        }
    }
   
    div.picker-toolbar-button.sc-ion-picker-md{
        button{
            border: solid 1px black;
            color: rgb(255, 255, 255);
            background-color: rgb(39, 144, 62);
        }
    }

    .picker-toolbar.sc-ion-picker-md{
        background-color: #181616;
    }

    .sc-ion-picker-md{
        color: rgb(255, 255, 255);
        background-color: #000000;
    }

    .picker-opt.picker-opt-selected{
        color: rgb(195, 12, 12);
    }

    //fin datapicker

    .fondoBoton{
        background-color: #181a19;
    }

        .avatarColorInvertido{
            img{
                filter: brightness(0) invert(1);
            }
        }
       
        .botonEditado{
            --border-color: #ffffff;
            --border-style: solid;
            --color: white;
        }

        .botonLogout{
            // --background: #3880ff;
            // --background-activated: #3880ff;
            // --background-activated-opacity: 1;
            // --background-focused: #3880ff;
            // --background-focused-opacity: 1;
            // --background-hover: #3880ff;
            // --background-hover-opacity: 1;
            --border-color: #ffffff;
            // --border-radius: 8px;
            --border-style: solid;
            // --border-width: 8px;
            // --box-shadow: 10px 10px;
            // --color: #ffffff;
            // --color-activated: #ffffff;
            // --color-focused: #ffffff;
            // --color-hover: #ffffff;
            // --opacity: 1;
            // --padding-bottom: 4px;
            // --padding-end: 4px;
            // --padding-start: 4px;
            // --padding-top: 4px;
            // --ripple-color: #1e1e1e;
            // --transition: background-color 15ms linear;
            --color: white;
            
        }

     

        ion-card {
            --background: #ffffff;
            --color: #000102;
        }


        


       

      


        
        
        ion-content {
            --background: #202022;
            // --color: #3880ff;
            // --keyboard-offset: 0px;
            // --offset-bottom: 0px;
            // --offset-top: 0px;
            // --padding-bottom: 0px;
            // --padding-end: 0px;
            // --padding-start: 0px;
            // --padding-top: 0px;
        }

        .oscuro{
            --background: #030813 !important;
        }

        ion-toolbar {
            --background: #030813 !important;
            --border-color: #3880ff;
            // --border-style: solid;
            // --border-width: 8px;
            --color: #ffffff !important;
            --min-height: 56px;
            --opacity: 1;
            --padding-bottom: 4px;
            --padding-end: 4px;
            --padding-start: 4px;
            --padding-top: 4px;
        }
        
 

        ion-alert {
            --backdrop-opacity: 0.5;
            --background: #333131;
            // --height: 100%;
            // --max-height: 100%;
            // --max-width: 100%;
            // --min-height: 100%;
            --min-width: 70%;
            // --width: 100%;
            
            ion-radio {
                --border-radius: 8px;
                --color: #3880ff;
                --color-checked: #3880ff;
                --inner-border-radius: 2px
            }

            h2{
                color: white;
            }

            strong{
                color: white;
            }
    
            div.alert-head{
                border-top: white solid 1px;
                background-color: #0f0f0f;
                // padding-bottom: 1em;
                margin-bottom: 1em;
            }
            
            div.alert-radio-label{
                color: white;
            }
        
            .alert-radio-label.sc-ion-alert-md{
               color: white;
            }
        
        
            .alert-button.alert-button-role-cancel  {
                color: rgb(255, 255, 255);
                background-color: rgb(105, 37, 37);
            }
       
            .alert-button{
                color: rgb(255, 255, 255);
                background-color: rgb(7, 66, 20);
            }

         
            
    
        }

        ion-action-sheet {
            --backdrop-opacity: 0.5;
            --background: #000000;
            --button-background: #333131;
            --button-background-activated: #3880ff;
            // --button-background-activated-opacity: 1;
            // --button-background-focused: #3880ff;
            // --button-background-focused-opacity: 1;
            --button-background-hover: #383233;
            --button-background-hover-opacity: 1;
            // --button-background-selected: #3880ff;
            // --button-background-selected-opacity: 1;
            --button-color: #ffffff;
            // --button-color-activated: #3880ff;
            // --button-color-focused: #3880ff;
            --button-color-hover: #000000;
            // --button-color-selected: #3880ff;
            --color: #ffffff;
            // --height: 100%;
            // --max-height: 100%;
            // --max-width: 100%;
            // --min-height: 100%;
            // --min-width: 100%;
            // --width: 100%;

            button:hover.action-sheet-cancel {
                color: rgb(255, 255, 255);
                --button-background-hover:  rgb(105, 37, 37);
            }

         
        }
       


    

        ion-menu {
            
       
            // --background: #ffffff;
            // --height: 100%;
            // --max-height: 100%;
            // --max-width: 100%;
            // --min-height: 100%;
            // --min-width: 100%;
            // --width: 100%;


            ion-list{
                background-color: #0c0c0c;
            }

       

            form{
                color: #ffffff;
                background-color: #181a19;
            }

           

            ion-content {
                --background: #313030;
                // --color: #3880ff;
                // --keyboard-offset: 0px;
                // --offset-bottom: 0px;
                // --offset-top: 0px;
                // --padding-bottom: 0px;
                // --padding-end: 0px;
                // --padding-start: 0px;
                // --padding-top: 0px;
            }

            ion-button {
                --background: #ff3838;
                // --background-activated: #3880ff;
                // --background-activated-opacity: 1;
                // --background-focused: #3880ff;
                // --background-focused-opacity: 1;
                // --background-hover: #3880ff;
                // --background-hover-opacity: 1;
                // --border-color: #3880ff;
                // --border-radius: 8px;
                // --border-style: solid;
                // --border-width: 8px;
                // --box-shadow: 10px 10px;
                --color: #ffffff;
                // --color-activated: #ffffff;
                // --color-focused: #ffffff;
                // --color-hover: #ffffff;
                // --opacity: 1;
                // --padding-bottom: 4px;
                // --padding-end: 4px;
                // --padding-start: 4px;
                // --padding-top: 4px;
                // --ripple-color: #1e1e1e;
                // --transition: background-color 15ms linear;
                
               
            }

        }
    
        ion-searchbar {
            --background: #ffffff;
            // --border-radius: 2px;
            // --box-shadow: 2px;
            // --cancel-button-color: #3880ff;
            // --clear-button-color: #3880ff;
            // --color: #3880ff;
            // --icon-color: #3880ff;
            // --placeholder-color: #3880ff;
            // --placeholder-font-style: initial;
            // --placeholder-font-weight: initial;
            // --placeholder-opacity: 0.5;
        }

        ion-list {
            background-color: #0c0c0c;
            // --background: #ffffff;
            // --border-color: #3880ff;
            // --border-style: solid;
            // --border-width: 8px;
            // --color: #3880ff;
            // --inner-border-width: 2px;
        }
  
       

        ion-item {
            --background: #4d5253;
            // --background-activated: #3880ff;
            // --background-activated-opacity: 1;
            // --background-focused: #3880ff;
            // --background-focused-opacity: 1;
            // --background-hover: #3880ff;
            // --background-hover-opacity: 1;
            // --border-color: #3880ff;
            // --border-radius: 8px;
            // --border-style: solid;
            // --border-width: 8px;
            --color: #ffffff;
            // --color-activated: #3880ff;
            // --color-focused: #3880ff;
            // --color-hover: #3880ff;
            // --detail-icon-color: #989aa2;
            // --detail-icon-font-size: 16px;
            // --detail-icon-opacity: 1;
            // --highlight-color-focused: #0cd1e8;
            // --highlight-color-invalid: #f04141;
            // --highlight-color-valid: #10dc60;
            // --highlight-height: 32px;
            // --inner-border-width: 8px;
            // --inner-box-shadow: 4px 4px;
            // --inner-padding-bottom: 4px;
            // --inner-padding-end: 4px;
            // --inner-padding-start: 4px;
            // --inner-padding-top: 4px;
            // --min-height: 24px;
            // --padding-bottom: 4px;
            // --padding-end: 4px;
            // --padding-start: 4px;
            // --padding-top: 4px;
            // --ripple-color: #1e1e1e;
            // --transition: background-color 15ms linear;
        }

     
        ion-toolbar {
            // --background: #af0000;
            // --border-color: #3880ff;
            // --border-style: solid;
            // --border-width: 8px;
            // --color: #3880ff;
            // --min-height: 56px;
            // --opacity: 1;
            // --padding-bottom: 4px;
            // --padding-end: 4px;
            // --padding-start: 4px;
            // --padding-top: 4px;
        }

    
    
   
     ion-tab-bar {
         --background: rgb(54, 54, 54);
        //  --border-radius: 8px;
         --color: #ffffff;
         ion-title {
             --color: #fff;
         }
     }
   }



    
}


:root{
    .light-theme{

        --ion-color-primary:  #2f6e38 !important;
        --ion-color-primary-rgb: 66,140,255 !important;
        --ion-color-primary-contrast: #ffffff !important;
        --ion-color-primary-contrast-rgb: 255,255,255 !important;
        --ion-color-primary-shade: #3a7be0 !important;
        --ion-color-primary-tint: #5598ff !important;


        --ion-color-secondary: #83b6cf !important;
        --ion-color-secondary-rgb: 61, 194, 255 !important;
        --ion-color-secondary-contrast: #ffffff !important;
        --ion-color-secondary-contrast-rgb: 255, 255, 255 !important;
        --ion-color-secondary-shade: #36abe0 !important;
        --ion-color-secondary-tint: #50c8ff !important;

        
        .fondoBoton{
            background-color: #1d4b24 !important;
        }


        .color{
            background-color:#2f6e38 !important;
        }

        ion-card-title {
            --color: #000000;
        }
        ion-card {
            --background: #ffffff;
            --color: #000000;
        }

        

    //    .loading-wrapper{
            // background: transparent !important;
            // -webkit-box-shadow: none !important;
            // box-shadow: none !important;
            // color: white !important;
        // }


       .spinerOp{
        --background: rgb(2, 61, 24);
        --spinner-color:#ffffff;
         color: rgb(255, 255, 255);
      }
        .oscuro{
            --background: #2f6e38 !important;
        }
        
        .claro{
            color: #000000;
         }

      

         .oscuroI{
            color: rgb(145, 236, 175);
        }

        ion-menu {
            // --background: #ffffff;
            // --height: 100%;
            // --max-height: 100%;
            // --max-width: 100%;
            // --min-height: 100%;
            // --min-width: 100%;
            // --width: 100%;

            ion-radio {
                // --border-radius: 8px !important;
                --color: #000000 !important;
                --color-checked: #000000;
                // --inner-border-radius: 2px
            }

            // ion-button {
            //     --background: #3880ff;
            //     --background-activated: #3880ff;
            //     --background-activated-opacity: 1;
            //     --background-focused: #3880ff;
            //     --background-focused-opacity: 1;
            //     --background-hover: #3880ff;
            //     --background-hover-opacity: 1;
            //     --border-color: #3880ff;
            //     --border-radius: 8px;
            //     --border-style: solid;
            //     --border-width: 8px;
            //     --box-shadow: 10px 10px;
            //     --color: #ffffff;
            //     --color-activated: #ffffff;
            //     --color-focused: #ffffff;
            //     --color-hover: #ffffff;
            //     --opacity: 1;
            //     --padding-bottom: 4px;
            //     --padding-end: 4px;
            //     --padding-start: 4px;
            //     --padding-top: 4px;
            //     --ripple-color: #1e1e1e;
            //     --transition: background-color 15ms linear;
            // }

            .botonGuardar{
                color: white;
            }

        }

        .botonLogout{
            --border-color: #ffffff;
            --border-style: solid;
            --color: white;
        }

        .botonDetalles{
            --border-color: #ffffff;
            --border-style: solid;
            --color: white;
        }

        .botonEditado{
            --border-color: #ffffff;
            --border-style: solid;
            --color: white;
        }


        ion-toolbar {
            --background:  #2f6e38 !important;
            --border-color: #2f6e38;
            --border-style: solid;
            --border-width: 8px;
            --color: #ffffff !important;
            --min-height: 56px;
            --opacity: 1;
            --padding-bottom: 4px;
            --padding-end: 4px;
            --padding-start: 4px;
            --padding-top: 4px;
        }

        ion-item {
            --background: #3c7439d5;
            // --background-activated: #3880ff;
            // --background-activated-opacity: 1;
            // --background-focused: #3880ff;
            // --background-focused-opacity: 1;
            // --background-hover: #3880ff;
            // --background-hover-opacity: 1;
            // --border-color: #3880ff;
            // --border-radius: 8px;
            // --border-style: solid;
            // --border-width: 8px;
            --color: #ffffff;
            // --color-activated: #3880ff;
            // --color-focused: #3880ff;
            // --color-hover: #3880ff;
            // --detail-icon-color: #989aa2;
            // --detail-icon-font-size: 16px;
            // --detail-icon-opacity: 1;
            // --highlight-color-focused: #0cd1e8;
            // --highlight-color-invalid: #f04141;
            // --highlight-color-valid: #10dc60;
            // --highlight-height: 32px;
            // --inner-border-width: 8px;
            // --inner-box-shadow: 4px 4px;
            // --inner-padding-bottom: 4px;
            // --inner-padding-end: 4px;
            // --inner-padding-start: 4px;
            // --inner-padding-top: 4px;
            // --min-height: 24px;
            // --padding-bottom: 4px;
            // --padding-end: 4px;
            // --padding-start: 4px;
            // --padding-top: 4px;
            // --ripple-color: #1e1e1e;
            // --transition: background-color 15ms linear;
        }

        ion-searchbar {
            --background: #d1ecd8;
            // --border-radius: 2px;
            // --box-shadow: 2px;
            // --cancel-button-color: #3880ff;
            // --clear-button-color: #3880ff;
            --color: #000000;
            // --icon-color: #3880ff;
            // --placeholder-color: #3880ff;
            --placeholder-font-style: initial;
            --placeholder-font-weight: initial;
            // --placeholder-opacity: 0.5;
        }
          
        ion-tab-button {
            // --background: #3880ff;
            // --background-focused: #3880ff;
            // --background-focused-opacity: 1;
            --color: #4ae20d;
            --color-focused: #000000;
            --color-selected: #96c00a;
            // --padding-bottom: 4px;
            // --padding-end: 4px;
            // --padding-start: 4px;
            // --padding-top: 4px;
            // --ripple-color: #1e1e1e;
        }
     ion-tab-bar {
        --background: #2f6e38;
       //  --border-radius: 8px;
        --color: #ffffff;
        ion-title {
            --color: #fff;
        }
    }


    ion-list {
        background-color: #285c35;
        // --background: #ffffff;
        // --border-color: #3880ff;
        // --border-style: solid;
        // --border-width: 8px;
        // --color: #3880ff;
        // --inner-border-width: 2px;
    }

    ion-alert {
        --backdrop-opacity: 0.5;
        --background: #285c35;
        // --height: 100%;
        // --max-height: 100%;
        // --max-width: 100%;
        // --min-height: 100%;
        --min-width: 70%;
        // --width: 100%;

        h2{
            color: white;
        }

        .alert-head{
            background-color: #0e441b;
            margin-bottom: 1em;
        }
        
        div.alert-radio-label{
            color: white;
        }

        strong{
            color: white;
        }

        .alert-button.alert-button-role-cancel  {
            color: rgb(255, 255, 255);
            background-color: rgb(105, 37, 37);
        }

        .alert-button{
            color: rgb(255, 255, 255);
            background-color: rgb(39, 144, 62);
        }

    }


    

    ion-action-sheet {
        --backdrop-opacity: 0.5;
        --background:#0e441b;
        --button-background: #2b9546;;
        --button-background-activated: #3880ff;
        // --button-background-activated-opacity: 1;
        // --button-background-focused: #3880ff;
        // --button-background-focused-opacity: 1;
        --button-background-hover: #197c47;
        --button-background-hover-opacity: 1;
        // --button-background-selected: #3880ff;
        // --button-background-selected-opacity: 1;
        --button-color: #ffffff;
        // --button-color-activated: #3880ff;
        // --button-color-focused: #3880ff;
        --button-color-hover: #000000;
        // --button-color-selected: #3880ff;
        --color: #ffffff;
        // --height: 100%;
        // --max-height: 100%;
        // --max-width: 100%;
        // --min-height: 100%;
        // --min-width: 100%;
        // --width: 100%;

        button:hover.action-sheet-cancel {
            color: rgb(255, 255, 255);
            --button-background-hover:  rgb(105, 37, 37);
        }

    }

    // datepicker picker-toolbar-cancel
    div.picker-toolbar-cancel.picker-toolbar-button.sc-ion-picker-md{
        button{
            border: solid 1px black;
            color: rgb(255, 255, 255);
            background-color: rgb(105, 37, 37);
        }
    }
   
    div.picker-toolbar-button.sc-ion-picker-md{
        button{
            border: solid 1px black;
            color: rgb(255, 255, 255);
            background-color: rgb(39, 144, 62);
        }
    }

    .picker-toolbar.sc-ion-picker-md{
        background-color: #18251e;
    }

    .sc-ion-picker-md{
        background-color: #b5c8be;
    }

    //fin datapicker

 

    ion-content {
        --background:  #285c35;
        // --color: #3880ff;
        // --keyboard-offset: 0px;
        // --offset-bottom: 0px;
        // --offset-top: 0px;
        // --padding-bottom: 0px;
        // --padding-end: 0px;
        // --padding-start: 0px;
        // --padding-top: 0px;
    }
    .infinite-loading-text{
        color: white !important;
    }

    }
}




