<ion-header >
    <ion-toolbar color="primary">
        
        <ion-item lines="none" slot="start" color="primary">
            
            <ion-avatar slot="start" *ngIf="this.authS.user.avatar">
                <img [src]="this.authS.user.avatar" />
            </ion-avatar>

            <ion-avatar slot="start" *ngIf="!this.authS.user.avatar" class="avatarColorInvertido">
                <img [src]="rImg" />
            </ion-avatar>
        </ion-item>
    

        <ion-item lines="none" *ngIf="this.authS.user.name" color="primary">
            <ion-label>{{this.authS.user.name}}</ion-label>
        </ion-item>

    
        <ion-buttons slot="end" *ngIf="authS.isLogged() && this.menu">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>

        <ion-button 
            *ngIf="authS.isLogged() && this.btnlogout"
            fill='outline' 
            slot="end" 
            (click)="this.logout()"
             class="botonLogout">LOGOUT
             
        </ion-button>
    </ion-toolbar>





</ion-header>