<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        {{ "editarNota.cabecera" | translate   }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input 
       type="text" 
       formControlName="title"
       [placeholder]="this.translate.instant('formularioNota.titulo')">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea 
      formControlName="description" 
      [placeholder]="this.translate.instant('formularioNota.descripcion')" 
      autocapitalize="true" 
      auto-grow="true">
      </ion-textarea>
    </ion-item>

  <ion-item>
     <ion-label>
        <ion-input 
          [disabled]='true'
          type="text"
          formControlName="latitud"
          [placeholder]="this.translate.instant('formularioNota.latitud')" 
          >
        </ion-input> 
        <br>
        <ion-input 
          [disabled]='true'
          type="text"
          formControlName="longitud"
          [placeholder]="this.translate.instant('formularioNota.longitud')" 
          >
        </ion-input> 
      </ion-label>

       <ion-button slot="end"
        [disabled]="!bActivo"
        (click)="obtenerPosicion()"
         shape="round" 
         color="secondary"
         fill="outline">
            {{ "geo.btnObtenerPosicion" | translate }}
        </ion-button>
    </ion-item>


    <ion-item> 
      <ion-datetime 
       displayFormat="DD/MM/YYYY h:mm" 
        max="2200" 
        [min]="this.fechaMinima"
        [placeholder]="this.translate.instant('formularioNota.fechaLimite')" 
        formControlName="fechaLimite"
        >
      </ion-datetime>
    </ion-item>


    <div style="text-align: right;">
      <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!tasks.valid">
        {{ "editarNota.btnEditar" | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>